body{
    background-color: #191919;
    color: #fff !important;
}
.container {
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    margin-top: 135px;
}
.container h1{
    font-size: 40px;
    color: #ffffff;
}
.container .Hello{
    color: #ff3131;
}
.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
}
.cell {
    width: 100px;
    height: 100px;
    border: 2px solid #ff3131;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #ffffff !important;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.btn{
    font-size: 0.9375rem;
    letter-spacing: .1em;
    color: #ffffff;
    background: #191919;
    border: 2px solid #ff3131;
    border-radius: 30px;
    padding: 10px 30px;
    font-weight: 600;
}